<mat-progress-bar [mode]="'indeterminate'" [color]="'accent'" *ngIf="isLoading$ | async"></mat-progress-bar>
<ng-container *ngIf="image$ | async as image">
  <main>
    <ng-container *ngIf="url$ | async as url">
    <a [href]="url" target="_blank">
      <img [src]="url" alt="Bild Detailansicht" />
    </a>
    </ng-container>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of image.tags" (click)="onTagClick(tag)">{{ tag }}</mat-chip>
    </mat-chip-list>
    <div class="fab-container">
      <a mat-fab [color]="'primary'" *ngIf="canEdit$ | async" [routerLink]="'/images/edit/' + image.id"
        ><mat-icon>edit</mat-icon></a
      >
      <button mat-fab [color]="'primary'" (click)="fillSearchForArticles(image)"><mat-icon>description</mat-icon></button>
    </div>
  </main>
  <mat-toolbar class="footer">
    <div class="spacer"></div>
    <div>{{ image.ownerName }}</div>
  </mat-toolbar>
</ng-container>
