<div class="spinnerContainer" *ngIf="isLoading$ | async">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
<ng-container *ngIf="image$ | async as image">
  <main>
    <a mat-fab [color]="'accent'" *ngIf="canEdit$ | async" [routerLink]="'/images/edit/' + image.id"><mat-icon>edit</mat-icon></a>
    <ng-container *ngIf="url$ | async as url">
      <img [src]="url" [alt]="image.tags.join(',')" (click)="copyUrlToClipboard()" />
    </ng-container>
    <span>Hochgeladen von {{ image.ownerName }} am {{ image.created | toLocalDateString }}</span>
    <h2>Nach ähnlichen Bildern suchen:</h2>
    <mat-chip-list>
      <mat-chip *ngFor="let tag of image.tags" [routerLink]="'/search/images/' + tag">{{ tag }}</mat-chip>
    </mat-chip-list>
  </main>
</ng-container>
