@import '~@angular/material/theming';
// only include the mat-core once!
@include mat-core();

// define colors
$primary: mat-palette($mat-pink, 700, 600, 800);
$accent: mat-palette($mat-yellow, 700, 600, 800);
$warn: mat-palette($mat-red);

// create the theme
$theme: mat-light-theme($primary, $accent, $warn);

// apply the theme
@include angular-material-theme($theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}
