<h1>Registrieren</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Anzeigename" formControlName="name" pattern="^[a-zA-Z ]*" required />
  <input
    type="text"
    placeholder="E-Mail"
    formControlName="email"
    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
    required
  />
  <input type="password" placeholder="Passwort" formControlName="password" required />
  <button type="submit" [disabled]="registerForm.invalid">Registrieren</button>
</form>
<div routerLink="/auth/login">Ich habe bereits ein Konto</div>
