@import '../../../../shared/style-partials/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10vh;
}

.versionNumber {
  background-color: $accent;
  text-align: center;
  padding: 8px;

  & > span {
    opacity: 0.4;
  }
}

footer {
  background-color: $primary;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: auto;
  color: white;

  h4 {
    font-weight: 500;
  }

  & > div {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;

    &.center {
      text-align: center;
    }
  }
}
