@import '../../../shared/style-partials/variables.scss';

:host {
  display: block;

  .mat-grid-list {
    margin: 0 16px;
  }

  .carousel {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgba(0, 0, 0, 0.3);

 button {
   margin: 1rem;
 }
}


  .spinnerContainer {
    display: flex;
    justify-content: center;
  }

  a {
    position: sticky;
    z-index: 1;
    bottom: 16px;
    left: calc(50% - 28px);
    margin: 16px 0;
  }
}
