@import "../shared/style-partials/variables.scss";

:host {
  min-height: 100%;
  background-color: $background-color;

  @media screen and (min-width: 601px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  mat-icon,
  ::ng-deep mat-icon > * {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.home {
  font-size: 20px;
  font-weight:bold;
}

.outletContainer {
  width: 100%;
  flex: 1;
  min-height: 90vh;
}

.mat-drawer-content {
  // needed to avoid "value changed after view was checked" error on startpage
  width: 100%;
}

.mat-drawer-container {
  height: calc(100% - 56px);
  z-index: 1;
}
