@import './shared/partials/colors.scss';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .navItemBox {
    display: flex;
    align-items: center;

    div:not(.profile) {
      font-size: 1.1rem;
      margin: 1rem;
      position: relative;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        height: 2px;
        width: 0;
        background-color: $primary;
        transition: all ease-out 0.2s;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $font-accent;
    border-bottom: 3px solid $primary;

    .logo {
      font-size: 4rem;
      cursor: pointer;
    }

    svg {
      height: 3rem;
      width: 3rem;
      padding: .5rem;
      transition: color ease-out 0.2s;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    .profile {
      font-size: 2rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $secondary;
      margin: 0 1rem;
      border-radius: 1.5rem;
      color: white;
    }
  }

  main {
    flex: 1 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
