<nav>
  <div class="logo" (click)="navigate('')">RöSeNa</div>
  <div class="navItemBox">
    <div (click)="navigate('groups')">Gruppen</div>
    <div (click)="navigate('events')">Events</div>
    <div (click)="navigate('archive')">Archiv</div>
    <svg (click)="navigate('calendar')">
      <use href="assets/svg/calendar-alt-regular.svg#calendar" />
    </svg>
    <svg (click)="navigate('images')">
      <use href="assets/svg/images-regular.svg#images" />
    </svg>
    <ng-container *ngIf="auth.username | async; then profile else login"></ng-container>
    <ng-template #login>
      <svg (click)="navigate('login')">
        <use href="assets/svg/sign-in-alt-solid.svg#sign-in" />
      </svg>
    </ng-template>
    <ng-template #profile>
      <div class="profile" (click)="navigate('profile')">
        <span>{{(auth.username | async).charAt(0)}}</span>
      </div>
    </ng-template>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</main>