<h1>Profil</h1>
<div class="authWrapper">
  <div class="profileContainer">
    <div>
      <span class="static">Anzeigename:</span><span class="dynamic">{{ (auth.$user | async)?.name }}</span>
    </div>
    <div>
      <span class="static">Berechtigungsgruppe:</span><span class="dynamic">{{ getAuthLevelText() }}</span>
    </div>
    <form #changeNameForm="ngForm" (ngSubmit)="updateOwnName(changeNameForm.value)">
      <app-input name="newName" label="neuer Name" pattern="^[a-zA-Z ]+$" [required]="true" ngModel></app-input>
      <button type="submit" class="outlined" [disabled]="changeNameForm.invalid">NAME ÄNDERN</button>
    </form>
  </div>

  <div *ngIf="(auth.$user | async)?.authLevel >= 4">
    <h2>Berechtigungslevel Manager</h2>
    <div class="table">
      <h3>Name</h3>
      <h3>Berechtigungsgruppe</h3>
      <span></span>
      <ng-container *ngFor="let person of $persons | async">
        <div class="name">{{ person.name }}</div>
        <app-dropdown
          #authInput
          [items]="dropdownItems"
          name="authLevel"
          label="Berechtigungsgruppe"
          [ngModel]="person.authLevel"
        ></app-dropdown>
        <button class="text" (click)="updateAuthLevel(person.id, authInput.value)">Speichern</button>
      </ng-container>
    </div>
  </div>
</div>
