:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  .authWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .profileContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      div {
        display: flex;
        justify-content: space-between;
        font-size: 1.4rem;
        margin-bottom: 0.5rem;

        span.static {
          font-weight: bold;
          margin-right: 1rem;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
          margin: 1rem;
        }
      }
    }

    .table {
      display: grid;
      grid-template-columns: 1fr 1fr min-content;
      align-items: center;
      box-shadow: 0 2px 5px 0px var(--on-background);
      background-color: var(--surface);
      padding: 1rem;
      border-radius: 0.3rem;
    }

    // table {
    //   $borderRadius: 0.3rem;
    //   border-collapse: collapse;
    //   border-style: none;
    //   box-shadow: 0 2px 5px 0px var(--on-background);
    //   background-color: var(--surface);
    //   border-radius: $borderRadius;

    //   td,
    //   th {
    //     padding: 0.4rem 1rem;
    //   }

    //   tr:not(:first-child) {
    //     cursor: pointer;
    //     transition: background-color ease-out 0.2s;
    //     &:hover {
    //       background-color: var(--on-surface-light);
    //     }
    //   }
    //   tr:last-child {
    //     td:first-child {
    //       border-bottom-left-radius: $borderRadius;
    //     }
    //     td:last-child {
    //       border-bottom-right-radius: $borderRadius;
    //     }
    //     border-bottom-left-radius: $borderRadius;
    //     border-bottom-right-radius: $borderRadius;
    //   }

    //   tr:not(:last-child) {
    //     border-bottom: 1px solid var(--on-surface-light);
    //   }

    //   th {
    //     text-align: left;
    //   }
    // }
  }
}
