<button mat-icon-button [color]="'accent'" class="help" (click)="isHelpVisible = !isHelpVisible">
  <mat-icon>{{ isHelpVisible ? 'cancel' : 'help' }}</mat-icon>
</button>
<div *ngIf="!isHelpVisible; else help">
  <mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddTag($event, chipInput)">
      <mat-option
        *ngFor="let option of autocomplete.$existingTags | async | autocompleteFilter: chipInput.value:(searchStrings$ | async)"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let item of searchStrings$ | async" (removed)="onRemoveTag(item)">
        {{ item }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #chipInput placeholder="Suchbegriffe" [matChipInputFor]="chipList" [matAutocomplete]="auto" />
    </mat-chip-list>
  </mat-form-field>
  <button mat-icon-button aria-label="search" (click)="onSearch()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<ng-template #help>
  <ul>
    <li>Suchbegriffe müssen mit "Enter" bestätigt werden</li>
    <li>Clicks auf Elemente in der Liste fügen neue Suchbegriffe hinzu</li>
    <li>Suche wird durch Click auf die Lupe gestartet</li>
    <li>Clicks auf Tags in Kacheln fügt diese zu den Suchbegriffen hinzu</li>
  </ul>
</ng-template>
