<div class="links">
  <div class="socialMedia">
    <span class="clickable">Facebook</span>
    <span class="clickable">Instagram</span>
  </div>
  <div class="site">
    <span class="clickable" (click)="navigate('about')">Impressum</span>
    <span class="clickable" (click)="navigate('references')">Links</span>
    <span class="clickable" (click)="navigate('press')">Presse</span>
    <span class="clickable" (click)="navigate('help')">Hilfe</span>
  </div>
</div>
<p class="address">
  Faschingsgesellschaft Röhlinger Sechtanarren e.V <br>
  Dagmar Gerold <br>
  An der Sechta 2 <br>
  73479 Ellwangen-Röhlingen <br>
  E-Mail: info@roesena.de <br>
  Internet: www.roesena.de
</p>