:host {
  @media screen and (min-width: 601px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo {
  mat-icon,
  ::ng-deep mat-icon > * {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.home {
  font-size: 20px;
}

.outletContainer {
  width: 100%;
  max-width: min(1400px, 100%);
  overflow: hidden;
}
