:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow: 0 2px 5px 0px var(--on-background);
  border-radius: 0.5rem;
  margin: 1rem;

  h3 {
    font-size: 2rem;
    margin: 0.5rem;
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    color: var(--on-surface);
    opacity: 0.6;
  }

  .spacer {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--primary);
    margin: 0.5rem 0;
  }

  p {
    margin: 0.5rem;
  }

  i {
    margin: 0.2rem;
    cursor: pointer;
    transition: color ease-out 0.2s;

    &:focus,
    &:active,
    &:hover {
      color: var(--primary);
    }
  }

  .buttonWrapper {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
  }

  // i.edit {
  //   top: 0.2rem;
  //   right: 0.2rem;
  // }

  // i.details {
  //   bottom: 0.2rem;
  //   left: calc(50% - 0.5rem);
  // }
}
