<h3 class="mat-display-2">Cookie-Einstellungen</h3>
<p>
  Wir verwenden Cookies um Ihnen ein optimales Webseiten-Erlebnis zu bieten. Dazu zählen Cookies, die für den Betrieb der Seite
  notwendig sind, sowie solche, die lediglich zu anonymen Statistikzwecken (mit Hilfe von Google Analytics) genutzt werden. Sie
  können selbst entscheiden, welche Kategorien sie zulassen möchten. Bitte beachten Sie, dass auf Basis Ihrer Entscheidungen
  womöglich nicht mehr alle Funktionalitäten der Seite zur Verfügung stehen. Weitere Informationen finden sie in unserer
  <a href="/data-protection">Datenschutzerklärung</a>.
</p>
<div class="checkboxContainer">
  <mat-checkbox color="primary" disabled="true" [(ngModel)]="essentialBox">Notwendig</mat-checkbox>
  <mat-checkbox color="primary" [(ngModel)]="analyticsBox">Analyse</mat-checkbox>
</div>
<div class="buttonContainer">
  <button mat-stroked-button color="accent" (click)="onAcceptSelection()">AUSWAHL AKZEPTIEREN</button>
  <button mat-flat-button color="primary" (click)="onAcceptAll()">ALLE AKZEPTIEREN</button>
</div>
