<nav [@barAnimation]="true">
  <div routerLink="persons" routerLinkActive="selected"><span appHoverable hoverColor="secondary">Personen</span></div>
  <div routerLink="groups" routerLinkActive="selected"><span appHoverable hoverColor="secondary">Gruppen</span></div>
  <div routerLink="events" routerLinkActive="selected"><span appHoverable hoverColor="secondary">Events</span></div>
  <div routerLink="articles" routerLinkActive="selected"><span appHoverable hoverColor="secondary">Artikel</span></div>
  <div routerLink="images" routerLinkActive="selected"><span appHoverable hoverColor="secondary">Bilder</span></div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
