:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  nav {
    display: flex;
    width: 100%;
    background-color: var(--primary);
    // justify-content: center;

    div {
      flex: 1;
      max-width: 200px;
      font-size: 2rem;
      text-align: center;
      color: var(--font);
      padding: .2rem;

      &.active {
        background-color: var(--font-secondary);
      }
    }
  }


  .editors {
    // background-color: var(--inactive);
    // border: 2px solid var(--inactive);
    // border-top: none;
  }
}
