@import '../../style-partials/variables.scss';

article {
  margin: 1rem;
  padding: 1rem;
  background-color: $cardBackground;
  width: min(27rem, calc(100vw - 2rem));
  box-sizing: border-box;
  position: relative;
}

.buttons {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

h2,
h3 {
  padding-right: 5rem;
}

h2 {
  margin: 0;
  line-height: 1rem;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 0.8rem;
  opacity: 0.5;
  margin-bottom: 1em;
  line-height: 1em;
}

.chipWrapper {
  background-color: $accent;
  margin: 1em -1rem -1rem -1rem;
  padding: 1rem;
}

app-markdown-viewer {
  overflow: hidden;
  height: 7rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 40px;
    background-image: linear-gradient(to top, $cardBackground, transparent);
  }
}
