<header [class]="tileGridSize">
  <figure class="logo">
    <img src="../../../assets/icons/startpage-logo.webp" alt="logo" />
    <figcaption>
      <h1>
        RÖHLINGER <br />
        SECHTANARREN <br />
        <span>e.V. 1970</span>
      </h1>
    </figcaption>
  </figure>
  <ng-container *ngFor="let tile of images$ | async; let i = index">
    <ng-container *ngIf="getRowStyle(i); else alternate">
      <figure>
        <img [src]="tile.imageUrls[0]" />
        <figcaption>
          <b>{{ tile.heading }}</b
          ><br />
          {{ tile.subheading }}
          <a mat-icon-button *ngIf="tile.pageLink !== ''" [routerLink]="tile.pageLink"><mat-icon>launch</mat-icon></a>
        </figcaption>
        <img *ngIf="hasTwoImagesPerTile" [src]="tile.imageUrls[1]" />
      </figure>
    </ng-container>
    <ng-template #alternate>
      <figure>
        <!--this alternate tile setup only has one image because it has to compensate for-->
        <!--the tile the logo and heading tage up-->
        <!--<img *ngIf="hasTwoImagesPerTile" [src]="tile.imageUrls[1]" />-->
        <figcaption>
          <b>{{ tile.heading }}</b
          ><br />
          {{ tile.subheading }}
          <a mat-icon-button *ngIf="tile.pageLink !== ''" [routerLink]="tile.pageLink"><mat-icon>launch</mat-icon></a>
        </figcaption>
        <img [src]="tile.imageUrls[0]" />
      </figure>
    </ng-template>
  </ng-container>
</header>

<main>
  <div>
    <div class="column">
      <a mat-stroked-button [color]="'primary'" [routerLink]="'/articles/overview'"
        ><mat-icon>arrow_forward</mat-icon><span>ARTIKEL</span></a
      >
      <app-article-card *ngIf="article$ | async as article" [data]="article"></app-article-card>
    </div>
    <div class="column">
      <a mat-stroked-button [color]="'primary'" [routerLink]="'/events/overview'"
        ><mat-icon>arrow_forward</mat-icon><span>EVENTS</span></a
      >
      <app-event-card *ngIf="event$ | async as event; else noEvent" [data]="event"></app-event-card>
      <ng-template #noEvent><p>Zur Zeit gibt es keine anstehenden Termine.</p></ng-template>
    </div>
  </div>
  <div>
    <a mat-stroked-button [color]="'primary'" [routerLink]="'/articles/overview'"
      ><mat-icon>arrow_forward</mat-icon><span>NEWS</span></a
    >
    <div class="selectionWrapper">
      <app-article-card *ngFor="let article of articleSelection$ | async" [data]="article" [isMinimal]="true"></app-article-card>
    </div>
  </div>
</main>
