<header [class]="tileGridSize">
  <ng-container *ngFor="let tile of images$ | async; let i = index">
    <ng-container *ngIf="getRowStyle(i); else middle">
      <figure>
        <figcaption>
          <b>{{ tile.heading }}</b
          ><br />
          {{ tile.subheading }}
          <a *ngIf="tile.pageLink !== ''" [routerLink]="tile.pageLink">click</a>
        </figcaption>
        <img [src]="tile.imageUrls[0]" />
        <img *ngIf="hasTwoImagesPerTile" [src]="tile.imageUrls[1]" />
      </figure>
    </ng-container>
    <ng-template #middle>
      <figure>
        <img [src]="tile.imageUrls[0]" />
        <figcaption>
          <b>{{ tile.heading }}</b
          ><br />
          {{ tile.subheading }}
        </figcaption>
        <img *ngIf="hasTwoImagesPerTile" [src]="tile.imageUrls[1]" />
      </figure>
    </ng-template>
  </ng-container>
</header>

<main>
  <div>
    <div class="column">
      <a mat-stroked-button [color]="'primary'"><mat-icon>arrow_forward</mat-icon><span>NEWS</span></a>
      <app-article-card *ngIf="article$ | async as article" [data]="article"></app-article-card>
    </div>
    <div class="column">
      <a mat-stroked-button [color]="'primary'"><mat-icon>arrow_forward</mat-icon><span>EVENTS</span></a>
      <app-event-card *ngIf="event$ | async as event; else noEvent" [data]="event"></app-event-card>
      <ng-template #noEvent><p>Zur Zeit gibt es keine anstehende Termine.</p></ng-template>
    </div>
  </div>
</main>
