@import '../../shared/style-partials/variables.scss';

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  // overflow needs to be hidden because tile size is calculated by vw
  // and this does not calculate the scrollbar
  overflow-x: hidden;
}

header {
  display: flex;
  flex-wrap: wrap;
  // overlap 25px to the right beyond the scrollbar
  // 25px may be a lot, but it is to be sure it covers the width of the scrollbars of all browsers
  margin-right: -25px;
  $tileSize: calc(100vw / 6);

  // TODO: set header size here directly so content shift is not as much as when letting the container expand when the images load in

  &.wide {
    img,
    figcaption {
      $tileSize: calc(100vw / 6);
      height: $tileSize;
      width: $tileSize;
    }
  }

  &.medium {
    img,
    figcaption {
      $tileSize: calc(100vw / 4);
      height: $tileSize;
      width: $tileSize;
    }
  }

  &.narrow {
    img,
    figcaption {
      $tileSize: calc(100vw / 2);
      height: $tileSize;
      width: $tileSize;
    }
  }

  figure {
    margin: 0;
    display: flex;
    background-color: map-get($primary-collection, 100);

    // the first tile is accent color instead of primary
    &:nth-child(1) {
      background-color: map-get($accent-collection, 100);

      figcaption {
        background-color: map-get($accent-collection, 500);
        color: map-get(map-get($accent-collection, contrast), 500);
      }
    }

    img {
      object-fit: cover;
      filter: grayscale(1);
      mix-blend-mode: multiply;
    }

    figcaption {
      padding: 1rem;
      box-sizing: border-box;
      background-color: map-get($primary-collection, 500);
      color: map-get(map-get($primary-collection, contrast), 500);
    }
  }
}

main {
  width: 100%;
  max-width: $maxPageWidth;

  a {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  & > div {
    margin-top: 3rem;
  }
  & > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
  }

  .selectionWrapper {
    display: flex;
    justify-content: space-between;
  }
}
