@import '../shared/partials/colors.scss';

:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .content {
    height: 100%;
  }

  .navBar {
    margin: 4rem 4rem 0rem 4rem;
    border: 2px solid $inactive;
    display: flex;

    &>div {
      flex: 1;
      font-size: 2rem;
      text-align: center;
      cursor: pointer;
      color: $font-accent;
      padding: .2rem;
      transition: color ease-out .2s;

      &:hover {
        color: $primary;
      }
    }
  }
}