:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .mat-card {
    // height: calc(100% - 36px);
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;

    img {
      cursor: pointer;
    }

    .mat-card-content {
      flex: 1;
      display: flex;
      align-items: flex-end;

      ::ng-deep .mat-chip-list-wrapper {
        flex-wrap: unset;
      }

      ::ng-deep .mat-chip {
        white-space: nowrap;
      }

      .mat-chip-list {
        overflow-x: scroll;
        padding-bottom: 8px;
        width: 100%;
      }
    }
  }
}
