@import "../../style-partials/variables.scss";

:host {
  max-width: $maxCardWidth + 2rem;
  width: 100%;
  min-width: 20rem;
}

figure {
  display: block;
  position: relative;
  margin: 1rem;
  max-width: $maxCardWidth;

  img {
    width: 100%;
    cursor: pointer;
  }

  .buttonBox {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display:flex;
    flex-direction: column;

    a, button {
      background-color: $cardBackground;
      margin-bottom: .5rem;
    }
  }
}
