<app-header></app-header>

<app-hints></app-hints>

<main>
  <ng-container *ngIf="isSingleType$ | async; then singleType; else multipleTypes"></ng-container>

  <!-- when only a single type is selected just dump them in the main -->
  <ng-template #singleType>
    <app-single-type (imageClick)="onImageClick($event)"></app-single-type>
  </ng-template>

  <!-- when multiple types are selected show a pretty row layout -->
  <ng-template #multipleTypes>
    <app-multi-type></app-multi-type>
  </ng-template>
</main>

<app-carousel [openCarouselWithId]="openCarouselWithId$"></app-carousel>
