@import '../../shared/style-partials/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  & > * {
    max-width: $maxPageWidth;
    width: 100%;
  }
}

