<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menü</mat-toolbar>
    <mat-nav-list>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Über uns
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/groups">Gruppen</a>
        <a mat-list-item routerLink="/images">Bilder</a>
        <a mat-list-item routerLink="/articles">Artikel</a>
        <a mat-list-item routerLink="/archive">Archiv</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Veranstaltungen
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/events">Events</a>
        <a mat-list-item routerLink="/calendar">Kalender</a>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Externes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="/links">Links</a>
        <a mat-list-item routerLink="/press">Presse</a>
      </mat-expansion-panel>
      <mat-toolbar>
        <button type="button" aria-label="help" mat-icon-button>
          <mat-icon aria-label="help icon">help</mat-icon>
        </button>
      </mat-toolbar>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Röhlinger Sechtanarren e.V. 1970</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
