<mat-toolbar class="header" [color]="'accent'">
  <div>Artikel</div>
</mat-toolbar>

<mat-progress-bar *ngIf="isLoading$ | async" [color]="'accent'" [mode]="'indeterminate'"></mat-progress-bar>

<app-search-bar></app-search-bar>

<mat-grid-list *ngIf="data$ | async as articles" [cols]="columns$ | async" [rowHeight]="'300px'" [gutterSize]="'16px'" @cardFlyIn>
  <mat-grid-tile *ngFor="let article of articles">
    <app-article-card [data]="article" [navigateOnTagClick]="false" (tagClick)="addSearchString($event)"></app-article-card>
  </mat-grid-tile>
</mat-grid-list>

<a mat-fab class="add-fab" color="primary" [routerLink]="'/articles/edit'" *ngIf="canEdit$ | async"><mat-icon>add</mat-icon></a>

<mat-paginator
  [pageSize]="limit$ | async"
  [pageIndex]="pageIndex$ | async"
  [hidePageSize]="true"
  [length]="dataLength$ | async"
  (page)="onPage($event)"
></mat-paginator>
