<h1 class="mat-display-2">{{ heading$ | async }}</h1>
<main>
  <ng-container *ngIf="textData$ | async as article; else loading">
    <img [style.grid-area]="'image'" [src]="imageUrl$ | async" />
    <app-markdown-viewer [style.grid-area]="'content'" [markdownText]="article.content"></app-markdown-viewer>
    <section>
      <h2>Ähnliche Inhalte hierzu</h2>
      <div>
        <a mat-fab [routerLink]="'/search/images/' + (searchLinkTags$ | async)" [color]="'primary'"><mat-icon>image</mat-icon></a>
        <a mat-fab [routerLink]="'/search/articles/' + (searchLinkTags$ | async)" [color]="'primary'"
          ><mat-icon>article</mat-icon></a
        >
        <a mat-fab [routerLink]="'/search/events/' + (searchLinkTags$ | async)" [color]="'primary'"><mat-icon>event</mat-icon></a>
        <a *ngIf="externalPageLink$ | async as link" mat-fab [href]="link" target="_blank" [color]="'primary'"
          ><mat-icon>link</mat-icon></a
        >
      </div>
    </section>
  </ng-container>

  <ng-template #loading>
    <div class="spinnerContainer">
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
  </ng-template>
</main>
