@import '../../../shared/style-partials/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  & > * {
    max-width: $maxPageWidth;
  }

  h1 {
    margin-top: 10vh;
    margin-bottom: 3rem;
    width: 100%;
  }

  main {
    width: 100%;
    @media screen and (min-width: 700px) {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 3rem;
      grid-template-rows: auto auto;
      grid-row-gap: 3rem;
      grid-template-areas: 'image image' 'content tags';
    }
    @media screen and (max-width: 699px) {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 100%;
      @media screen and (max-width: 699px) {
        margin-bottom: 3rem;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: min-content;
      position: sticky;
      top: 10vh;
      @media screen and (max-width: 699px) {
        align-items: start;
      }

      div {
        margin-top: 0.4rem;
        a {
          margin: 0.4rem;
        }
      }
    }
  }
}
