<div class="search-module" [class.open]="isOpen">
  <mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAddTag($event, chipInput)">
      <mat-option
        *ngFor="let option of autocomplete.$existingTags | async | autocompleteFilter: chipInput.value:(searchStrings$ | async)"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let item of searchStrings$ | async" (removed)="onRemoveTag(item)">
        {{ item }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #chipInput placeholder="Suchbegriffe" [matChipInputFor]="chipList" [matAutocomplete]="auto" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onClearSearch()">
        <mat-icon>cleaning_services</mat-icon>
      </button>
    </mat-chip-list>
  </mat-form-field>
  <button class="go" mat-flat-button [color]="'accent'" (click)="onSearch()">GO</button>
  <button mat-icon-button aria-label="search" (click)="toggleSearch()">
    <mat-icon *ngIf="!isOpen; else close">search</mat-icon>
    <ng-template #close>
      <mat-icon>close</mat-icon>
    </ng-template>
  </button>
</div>
