@import '../../shared/style-partials/variables.scss';

.search-module {
  display: flex;
  background-color: $primary;

  .mat-form-field {
    display: none;
    flex: 1;
  }

  .go {
    display: none;
  }
}

.search-module.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
  box-sizing: border-box;

  .go {
    display: unset;
  }

  .mat-form-field {
    display: unset;
  }
}
