<input *ngIf="auth.user | async" type="checkbox" [(ngModel)]="filterEvents">

<div class="event-container">
  <div class="event-card" *ngFor="let event of (filterEvents ? (events | async | eventsForUser) : (events | async))">
    <span>{{event.title}}</span>
    <span>{{event.description}}</span>
    <div class="accepted">
      <span *ngFor="let id of event.accepted">{{id}}</span>
    </div>
    <input *ngIf="filterEvents" type="button" value="accept" (click)="acceptEvent(event._id)">
  </div>
</div>